In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
%matplotlib inline

df = pd.read_csv('/blue/bsc4452/admontalvo/Class_Files/data/flights.1K.csv', sep=',') #displaying the flights.1K.csv data

df.head(10) #print out the first 10 lines of the flights.1K.csv dataset

In [62]:
#print out the last 10 lines of the flights.1K.csv dataset 
df.tail(10)

,FL_DATE,OP_UNIQUE_CARRIER,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,DEST,DEST_CITY_NAME,DEP_TIME,DEP_DELAY_NEW,DEP_DEL15,...,CANCELLATION_CODE,DIVERTED,AIR_TIME,FLIGHTS,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
990,5/1/2020 12:00:00 AM,DL,FLL,"Fort Lauderdale, FL",FL,ATL,"Atlanta, GA",1201.0,2.0,0.0,...,NaN,0.0,83.0,1.0,581.0,NaN,NaN,NaN,NaN,NaN
991,5/1/2020 12:00:00 AM,DL,IND,"Indianapolis, IN",IN,MSP,"Minneapolis, MN",1609.0,0.0,0.0,...,NaN,0.0,84.0,1.0,503.0,NaN,NaN,NaN,NaN,NaN
992,5/1/2020 12:00:00 AM,DL,MSP,"Minneapolis, MN",MN,IND,"Indianapolis, IN",1300.0,0.0,0.0,...,NaN,0.0,65.0,1.0,503.0,NaN,NaN,NaN,NaN,NaN
993,5/1/2020 12:00:00 AM,DL,DTW,"Detroit, MI",MI,EWR,"Newark, NJ",1022.0,0.0,0.0,...,NaN,0.0,73.0,1.0,488.0,NaN,NaN,NaN,NaN,NaN
994,5/1/2020 12:00:00 AM,DL,EWR,"Newark, NJ",NJ,DTW,"Detroit, MI",1257.0,0.0,0.0,...,NaN,0.0,74.0,1.0,488.0,NaN,NaN,NaN,NaN,NaN
995,5/1/2020 12:00:00 AM,DL,DTW,"Detroit, MI",MI,CLT,"Charlotte, NC",2005.0,0.0,0.0,...,NaN,0.0,68.0,1.0,500.0,NaN,NaN,NaN,NaN,NaN
996,5/1/2020 12:00:00 AM,DL,JFK,"New York, NY",NY,LAX,"Los Angeles, CA",804.0,4.0,0.0,...,NaN,0.0,311.0,1.0,2475.0,NaN,NaN,NaN,NaN,NaN
997,5/1/2020 12:00:00 AM,DL,ATL,"Atlanta, GA",GA,MCI,"Kansas City, MO",1115.0,0.0,0.0,...,NaN,0.0,109.0,1.0,692.0,NaN,NaN,NaN,NaN,NaN
998,5/1/2020 12:00:00 AM,DL,MCI,"Kansas City, MO",MO,ATL,"Atlanta, GA",1321.0,1.0,0.0,...,NaN,0.0,83.0,1.0,692.0,NaN,NaN,NaN,NaN,NaN
999,5/1/2020 12:00:00 AM,DL,MSP,"Minneapolis, MN",MN,BOS,"Boston, MA",1950.0,0.0,0.0,...,NaN,0.0,136.0,1.0,1124.0,NaN,NaN,NaN,NaN,NaN

In [ ]:
# list of values of 'OP_UNIQUE_CARRIER' column in a listed format to be able to view all 4 flight services
unique_carrier_col = df['OP_UNIQUE_CARRIER'].tolist()
print(unique_carrier_col)

In [ ]:
#Counting all the values of 'OH' in the OP_UNIQUE_CARRIER column of the dataframe
unique_carrier_col.count('OH')

In [ ]:
#Counting all the values of 'AA' in the OP_UNIQUE_CARRIER column of the dataframe
unique_carrier_col.count('AA')

In [ ]:
#Counting all the values of 'YV' in the OP_UNIQUE_CARRIER column of the dataframe
unique_carrier_col.count('YV')

In [ ]:
#Counting all the values of 'DL' in the OP_UNIQUE_CARRIER column of the dataframe
unique_carrier_col.count('DL')

In [ ]:
#Assigning variables to the counts of the 4 flight carrier service of OP_UNIQUE_CARRIER column in the fights.1K.csv dataset
ohio = unique_carrier_col.count('OH')
american_airlines = unique_carrier_col.count('AA')
vancouver = unique_carrier_col.count('YV')
delta_airlines = unique_carrier_col.count('DL')

In [ ]:
#Bar Chart of flight carrier services within the flights.1K.csv dataset

# plotting two histograms on the same axis

x = ['Ohio', 'American', 'Vancouver', 'Delta']
y = [ohio, american_airlines, vancouver, delta_airlines]
colors = ['red', 'blue', 'orange', 'green']
plt.bar(x, y, color = colors)

# Add title and axis names
plt.title('Airport Carrier Accross the flights.1K.csv Dataset')
plt.ylabel('Number of flights')
plt.xlabel('Airport Carrier Service')

plt.show()

In [ ]:
#Searching the file for OH OP_UNIQUE_CARRIER SImilair to grep in the command line
import re #regular expressions package in python

pattern = 'OH' #defining the term to search for

file = open('flights.1K.csv', 'r') #opening a readable file 

for ohio in file: #searching the dataset for all instances with OH in them
    if re.search(pattern, ohio):
        print(ohio)

In [ ]:
#ploting the total values in a histogram
#data = np.df.count()
#plt.hist(data);

In [ ]:
#Assigning variables to flight distance
flight_distance = df['DISTANCE']
print(flight_distance)

In [ ]:
#Assigning variables to destinations  
destination = df['DEST']
print(destination)

In [ ]:
#function with flight distance
def distance_of_flights():
    if df[(df['DISTANCE'] > 500)]:
        print('Long flight going to' + destination)
        elif:
        print('Short flight going to' + destination)
        else:
        print('no flights')

In [ ]:
#Separating flights in the dataset in long, medium, and short flights and displaying the destination
for row in flight_distance:
    if row > 800:
        print("Long flight to:" + destination)
    elif 500 < row < 800:
        print("Medium flight to:" + destination)
    else:
        print("Short flight to:" + destination)

In [68]:
air_count = 0
flights = df['FLIGHTS']
while flights > 1.0:
    print(destination)
   # if flight_time < 30.0:
    #    break
   # air_count+=1

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().